@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Tilt+Warp&display=swap');
:root {
    --primary-color: #226f54;
    --secondary-color: #43291f;
    --accent1-color: #da2c38;
    --accent2-color: #87c38f;
  
    --heading-font: 'Bebas Neue', serif;
    --paragraph-font: 'Tilt Warp', serif;
  
    --nav-background-color: #f4f0bb ;
    --nav-link-color: rgb(218, 43, 54) ;
    --nav-hover-link-color: #87c38f ;
}
header{
    background-color: #87c38f;
}
.grid img{
    width: 120px;
    display: grid;
    align-items: center;
    justify-items: center;
}
body {
    padding: 20px;
    font-family: var(--paragraph-font);
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    text-align: right;
}
.hero {
    position: relative;
}
.hero h1{
    position: absolute;
    font-family: var(--heading-font);
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.hero article {
    position: absolute;
    padding: 20px;
    top: 250px;
    left:100px;
    right: 100px;
    background-color: #87c38f69;
}
.hero img{
    width: 100%;
}
.hero article img {
    float: right;
    width: 200px;
}
.grid{
    margin: 1rem auto;
    display: grid;
    align-items: center;
    padding: 15px;
  }
.grid nav{
    display:flex;
    justify-content: space-between;
    border: 1px solid #226f54;
    grid-column: 2/3;
    grid-row: 1;
    padding: 30px;
    
}
figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}

figure img {
    max-width: 220px;
    max-height: 150px;
}

figcaption {
    background-color: #226f54;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}
.flexbox-container{
    display:flex;
    padding: 25px;
    background-color: #87c38f;
}
section{
    border: 1px solid #226f54;
    background-color: #87c38f;
}
section h2{
    text-align: center;
}
.sociallinks{
    justify-content: flex-end;
}
.history img{
    max-width: 220px;
    max-height: 150px;
}
.history p{
    text-align: right;

}
button{
    background-color:#43291f;
    border: none;
    color:#87c38f;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    font-family: 'Tilt Warp', serif;
    margin:10px 0;
  }
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #226f54;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    margin:10px 0;
  }
  input[type=text] {
    border: 2px solid #226f54;
    border-radius: 4px;
    padding: 5px;
  }
  form{
    padding:10px;
  }
  input[type=email] {
    border: 2px solid #226f54;
    border-radius: 4px;
    padding: 5px;
  }
  .hero .contact-photo img{
    width:580px;
  }
